@import "../../../colors.scss";

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
  box-shadow: 0 5px 7px 0 rgba(black, 0.3);
  background-color: $pink;
  color: $gray;

  &__links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 50px;
      width: 50px;
      margin-right: 1.5rem;
      &__img {
        width: 100%;
        height: 100%;
      }
    }

    .link {
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      margin-right: 1rem;
      transition: 0.4s;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: 1.2rem;
      color: $gray;

      &:hover {
        color: rgba($gray, 0.6);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }

      &_active {
        border-bottom: 3px solid $green;
      }
    }
  }

  &__auth {
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/user-circle-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    outline: none;
  }
}
