<div class="wrapper">
  <div class="modal">
    <div class="modal__close" (click)="closeModal()">
      <img class="modal__close-img" src="../../../assets/times-solid.svg" alt="">
    </div>

    <ng-container *ngIf="isRegistration then regTemplate else authTemplate"></ng-container>

  </div>
</div>

<ng-template #authTemplate>
  <form novalidate [formGroup]="userForm">
    <h2 class="title">Autorisation</h2>
    <div class="field">
      <span class="filed__name">Email:</span>
      <input type="text" [class.field__inp_err]="email.errors && (email.touched || email.dirty)" class="field__inp"
        formControlName="email">
      <div class="field__errors" *ngIf="email.errors && (email.touched || email.dirty)">
        <span class="error-item" *ngIf="email.errors['required']">Обязательное поле</span>
        <span class="error-item" *ngIf="email.errors['email']">Некорректный email</span>
        <span class="error-item" *ngIf="email.errors['minlength']">Минимальная длина символов
          {{ email.errors['minlength'].requiredLength }}</span>
        <span class="error-item" *ngIf="email.errors['maxlength']">Максимальная длина символов
          {{ email.errors['maxlength'].requiredLength }}</span>
      </div>
    </div>

    <div class="field">
      <span class="filed__name">Password:</span>
      <input type="password" [class.field__inp_err]="password.errors && (password.touched || password.dirty)"
        class="field__inp" formControlName="password">
      <div class="field__errors" *ngIf="password.errors && (password.touched || password.dirty)">
        <span class="error-item" *ngIf="password.errors['required']">Обязательное поле</span>
        <span class="error-item" *ngIf="password.errors['minlength']">Минимальная длина символов
          {{ password.errors['minlength'].requiredLength }}</span>
        <span class="error-item" *ngIf="password.errors['maxlength']">Максимальная длина символов
          {{ password.errors['maxlength'].requiredLength }}</span>
      </div>
    </div>

    <div class="buttons">
      <div class="buttons__item" (click)="auth()">
        Join
      </div>
      <div class="buttons__item" (click)="toggleState()">
        Registration
      </div>
    </div>
  </form>
</ng-template>

<ng-template #regTemplate>
  <form novalidate [formGroup]="userForm">
    <h2 class="title">Registration</h2>
    <div class="field">
      <span class="filed__name">Email:</span>
      <input type="text" [class.field__inp_err]="email.errors && (email.touched || email.dirty)" class="field__inp"
        formControlName="email">
      <div class="field__errors" *ngIf="email.errors && (email.touched || email.dirty)">
        <span class="error-item" *ngIf="email.errors['required']">Обязательное поле</span>
        <span class="error-item" *ngIf="email.errors['email']">Некорректный email</span>
        <span class="error-item" *ngIf="email.errors['minlength']">Минимальная длина символов
          {{ email.errors['minlength'].requiredLength }}</span>
        <span class="error-item" *ngIf="email.errors['maxlength']">Максимальная длина символов
          {{ email.errors['maxlength'].requiredLength }}</span>
      </div>
    </div>

    <div class="field">
      <span class="filed__name">Password:</span>
      <input type="password" [class.field__inp_err]="password.errors && (password.touched || password.dirty)"
        class="field__inp" formControlName="password">
      <div class="field__errors" *ngIf="password.errors && (password.touched || password.dirty)">
        <span class="error-item" *ngIf="password.errors['required']">Обязательное поле</span>
        <span class="error-item" *ngIf="password.errors['minlength']">Минимальная длина символов
          {{ password.errors['minlength'].requiredLength }}</span>
        <span class="error-item" *ngIf="password.errors['maxlength']">Максимальная длина символов
          {{ password.errors['maxlength'].requiredLength }}</span>
      </div>
    </div>

    <div class="field">
      <span class="filed__name">Confirm Password:</span>
      <input type="password" [class.field__inp_err]="confirm.errors && (confirm.touched || confirm.dirty)"
        class="field__inp" formControlName="confirm">
      <div class="field__errors" *ngIf="confirm.errors && (confirm.touched || confirm.dirty)">
        <span class="error-item" *ngIf="confirm.errors['required']">Обязательное поле</span>
        <span class="error-item" *ngIf="confirm.errors['minlength']">Минимальная длина символов
          {{ confirm.errors['minlength'].requiredLength }}</span>
        <span class="error-item" *ngIf="confirm.errors['maxlength']">Максимальная длина символов
          {{ confirm.errors['maxlength'].requiredLength }}</span>
      </div>

    </div>

    <div class="buttons">
      <div class="buttons__item" (click)="registration()">
        Registration
      </div>
      <div class="buttons__item" (click)="toggleState()">
        Autorisation
      </div>
    </div>
  </form>
</ng-template>
